/* font-family: "Open Sans", sans-serif;
font-family: "Yellowtail", cursive;
font-family: "Roboto", sans-serif; */
@keyframes menu_slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, .site {
	height: 100%;
}

ul,ol {
	list-style: none;
}

body {
	font-family: "Roboto", sans-serif;
	color: #274C5B;
	letter-spacing: 0.36px;
}

button {
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 70px;
	line-height: 84px;
	font-weight: bold;
}

h2 {
	font-size: 45px;
	line-height: 58px;
	font-weight: bold;
}

h3 {
	font-family: "Yellowtail", cursive;
	color: #7EB693;
	font-size: 36px;
	line-height: 65px;
	font-weight: normal;
}

h4 {
	font-size: 25px;
	line-height: 35px;
	font-weight: normal;
}

h5 {
	font-style: 23px;
	font-weight: bold;
	line-height: 32px;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 32px;
	color: #525C60;
}

a {
	text-decoration: none;
	color: #274C5B;
}

.container {
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
}

.btn_primary {
	border: 0;
	border-radius: 16px;
	background-color: #EFD372;

	font-size: 19px;
	color: #274C5B;

	padding: 22px 9px 22px 42px;

	display: flex;
	align-items: center;
	gap: 24px;
	cursor: pointer;
}

.btn_primary::after {
	content: "";
	display: inline-block;
	width: 38px;
	height: 38px;
	background-color:#335B6B;
	border-radius: 50%;
	background-image: url(../images/ico-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
}

.btn_primary:hover {
	background-color: #274C5B;
	color: #fff;
}

.btn_primary-dark {
	background-color: #274C5B;
	color: #fff;
}

.btn_primary-dark::after {
	background-color: #335B6B;
}

.btn_primary-dark:hover {
	background-color: #EFD372;
	color: #274C5B;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}

.header__nav_close,
.header__nav_toggle {
    display: none;
}

#header__nav_toggle {
    display: none;
}

.header__nav_toggle {
	border: 0;
	border-radius: 16px;
	background-color: #EFD372;

	font-size: 19px;
	color: #274C5B;
	text-transform: uppercase;
	font-weight: bold;

	padding: 23px;

	cursor: pointer;
}

.header__nav_toggle:hover {
	background-color: #274C5B;
	color: #fff;
}

.header__nav_list {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.header__nav_item {
	position: relative;
}

.header__nav_link,
.header__nav_sublink {
	font-size: 19px;
	line-height: 32px;
}

.header__nav_link:hover,
.header__nav_sublink:hover {
	color: #7EB693;
}

.header__nav_sublist {
	display: none;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 99;

	text-wrap: nowrap;
	padding-top: 10px;
}

.header__nav_item:hover .header__nav_sublist {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header__cart_btn {
	border: 1px solid #D4D4D4;
	border-radius: 45px;

	background-color: #fff;

	font-size: 17px;
	color: #274C5B;

	padding: 6px 35px 6px 11px;

	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.header__cart_btn:hover {
	background-color: #EFD372;
}

.header__cart_btn::before {
	content: "";
	display: inline-block;
	width: 56px;
	height: 56px;
	background-color: #274C5B;
	background-image: url(../images/ico-cart.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

.promo {
	background-image: url(../images/bg-promo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 140vh;
}

.promo .container {
	height: 100%;
}

.promo__content {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: flex-start;

	width: 40%;
	height: 100%;
}

.get .container {
	display: flex;
	gap: 50px;
	padding: 140px 0;
}

.get__item1,
.get__item2 {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: space-between;
	padding: 120px 55px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	cursor: pointer;
}

.get__item1:hover,
.get__item2:hover {
	background-color: #333;
	background-blend-mode: screen;
}

.get__item_container {
	width: 55%;
}

.get__item1 {
	background-image: url(../images/img-fruit.png);
}

.get__item2 {
	background-image: url(../images/img-veg.png);
}

.get__title1 {
	color: #fff;
}

.get__text1,
.get__text2 {
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	color: #fff;
	line-height: 52px;
}

.get__text2 {
	color: #274C5B;
}

.about {
	background-color: #F9F8F8;
	padding: 140px 0;
}

.about .container {
	display: flex;
	gap: 30px;
	align-items: center;
}

.about__content {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: flex-start;
}

.about__description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.about__advantages {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.about__advantages_container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.about__advantages_item1,
.about__advantages_item2 {
	display: flex;
	gap: 15px;
	align-items: center;
}

.about__advantages_item1::before,
.about__advantages_item2::before {
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 50px 0 0;
	width: 100px;
	height: 100px;
}

.about__advantages_item1::before{
	background-image: url(../images/ico-organ.png);
}

.about__advantages_item2::before{
	background-image: url(../images/ico-qual.png);
}

.products .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding: 130px 0;
}

.products__top {
	text-align: center;
}

.products__list,
.offer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.products__item,
.offer__item {
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: flex-start;
	width: 31%;
	border-radius: 30px;

	background-color: #F9F8F8;
	cursor: pointer;
}

.products__item:hover {
	box-shadow: 0 0 10px #333;
} 

.offer__item:hover {
	box-shadow: 0 0 10px #ccc;
}

.products__item_cat,
.offer__item_cat {
	background-color: #274C5B;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 37px;
	padding: 0 15px;
	border-radius: 8px;
}

.products__item_img,
.offer__item_img {
	margin-bottom: 25px;
	width: 100%;
}

.products__item_name,
.offer__item_name {
	font-size: 22px;
	border-bottom: 1px solid #E2E2E2;
	width: 100%;
	padding-bottom: 15px;
}

.products__item_bot,
.offer__item_bot {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 15px;
}

.products__item_bot_left,
.offer__item_bot_left {
	display: flex;
	gap: 15px;
	align-items: center;
}

.products__item_price,
.offer__item_price {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.products__item_price-crossed,
.offer__item_price-crossed {
	text-decoration: line-through;
	color: #B8B8B8;
	font-weight: normal;
	font-size: 17px;
}

.products__item_rating,
.offer__item_rating {
	display: flex;
	align-items: center;
	gap: 3px;
}

.rev {
	background-image: url(../images/bg-reviews.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 150px 0;
	background-color: #FCFCFC;
}

.rev .container {
	display: flex;
	flex-direction: column;
	gap: 100px;
	align-items: center;
}

.rev__top {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	padding: 0 10px;
}

.rev__top_title {
	margin-bottom: 60px;
	text-align: center;
}

.rev__top_userpic {
	margin-bottom: 25px;
}

.rev__top_rating {
	display: flex;
	margin-bottom: 35px;
}

.rev__top_text {
	text-align: center;
	margin-bottom: 25px;
	color: #525C60;
}

.rev__top_username {
	font-size: 26px;
	font-weight: bold;
	line-height: 34px;
}

.rev__top_usercat {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 27px;
	color: #525C60;
	padding-bottom: 90px;
	border-bottom: 2px solid #e0e0e0;
	width: 100%;
	text-align: center;
}

.rev__bot {
	width: 100%;
	
}

.rev__list {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.rev__item {
	width: 250px;
	height: 250px;

	border: 6px solid #7EB693;
	background-color: #666;
	border-radius: 50%;
}

.rev__item_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;

	background-color: #f1f1f1;
	border: 5px solid #fff;
	width: 240px;
	height: 240px;
	border-radius: 50%;
}

.rev__item_title {
	font-size: 42px;
	font-weight: bold;
	line-height: 55px;
}

.rev__item_text {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
}

.offer {
	background-color: #274C5B;
}

.offer .container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 150px 0;
}

.offer__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.offer__title {
	color: #fff;
}

.eco {
	background-image: url(../images/bg-eco.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 40px;

	display: flex;
	justify-content: flex-end;
}

.eco__content {
	background-color: #fff;
	border-radius: 30px;
	padding: 55px 40px 55px 60px;
	width: 53%;

	display: flex;
	flex-direction: column;
	gap: 15px;
}

.eco__title {
	width: 55%;
	margin-top: -10px;
}

.eco__slogan {
	font-size: 23px;
	font-weight: bold;
	line-height: 32px;
}

.category {
	background-color: #EFF6F1;
	padding: 140px 0;
}

.category__list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.category__item {
	height: 580px;
	width: 33%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.category__link{
	background-color: #fff;
	font-size: 25px;
	font-weight: bold;
	line-height: 35px;

	padding: 30px 80px;
	border-radius: 20px;
}

.category__item:nth-child(1) {
	background-image: url(../images/img-cat1.png);
}

.category__item:nth-child(2) {
	background-image: url(../images/img-cat2.png);
}

.category__item:nth-child(3) {
	background-image: url(../images/img-cat3.png);
}

.sub {
	padding-top: 30px;
}

.sub .container {
	background-image: url(../images/bg-sub.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 30px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 70px;
	gap: 160px;
}

.sub__slogan {
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
	color: #fff;
}

.sub__form form {
	display: flex;
	gap: 10px;
}

.sub__form_field{
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 29px;
	color: #274C5B;

	padding: 0 30px;
	border-radius: 16px;
	border: none;

	width: 350px;
}

.footer .container {
	padding: 85px 0;
}

.footer__top {
	display: flex;
	justify-content: space-between;
}

.footer__left {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	border-right: 1px solid #d5d5d5;
	padding-right: 20px;
	padding-left: 70px;
}

.footer__title {
	font-size: 30px;
	font-weight: bold;
	line-height: 42px;
	margin-bottom: 40px;
}
.footer__subtitle {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #525C60;
}

.footer__text {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 29px;
	color: #525C60;
	margin-bottom: 40px;
	text-align: right;
}

.footer__middle {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 50px;
	flex: 1;
}

.footer__logo {
	margin-bottom: 45px;
}

.footer__middle_text {
	text-align: center;
	margin-bottom: 65px;
}

.footer__list {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.footer__link {
	display: block;
	width: 60px;
	height: 60px;
	background-color: #EFF6F1;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center;
}

.footer__link-fb {
	background-image: url(../images/ico-fb.svg);
}

.footer__link-tw {
	background-image: url(../images/ico-tw.svg);
}

.footer__link-inst {
	background-image: url(../images/ico-inst.svg);
}

.footer__link-pint {
	background-image: url(../images/ico-pint.svg);
}

.footer__right {
	display: flex;
	flex-direction: column;

	border-left: 1px solid #d5d5d5;
	padding-left: 20px;
	padding-right: 160px;
}

.footer__right_list {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.footer__right_link {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 29px;
	color: #525C60;
}